<div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/home">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a></li>

  <li role="presentation"><a href="#/diligenciar">
  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Diligenciar</a></li>

  <li role="presentation"><a href="#/resultados">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Resultados</a></li>

  <li role="presentation"><a href="#/ayuda">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Ayuda</a></li>
</ul>

    <h5 class="breadcrumb">This is home</h5>
    <a href="#/preguntaSimple"><small>Ir a la pregunta</small></a>
<h1>PRUEBA</h1>
</div>