<div>

	<div class="page-header">
		<h1>Saber prototype <small>node.js powered</small></h1>
	</div>

	<div class="bs-docs-featurette">

    <h2 class="bs-docs-featurette-title">Esta es mi pagina de prueba.</h2>
    <p class="lead">con esto intentando montar una web basada en boostramp facíl,sencilla pero muy dinamica y responsive.</p>



    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-4">
        <h3>Realiza tu prueba</h3>
        <img src="images/calificasion.png" class="img-rounded" alt="Cinque Terre" width="100%" height="20%">
        <p>Realiza aquí tu prueba, practica y prepárate para los ICFES, comprueba cual es tu estado ante la gran prueba, <a href="/#preguntaSimple">Aqui</a> podrás acceder a tu prueba, sin limites de intento.</p>
      	</div>
      	<div class="col-sm-4">
        <h3>Revisa tu avance</h3>
        <img src="images/porsentaje.png" class="img-rounded" alt="Cinque Terre" width="100%" height="20%">
        <p>Revisa tu avance por medio de gráficas, mira cuanto as mejorado y en donde te hace falta poner mas empeño, <a href="/#graficas">Aqui</a>  podrás ver todas esas notas por medio de gráficas.</p>
     	 </div>
     	 <div class="col-sm-4">
        <h3>Listado</h3>
        <img src="images/lista.png" class="img-rounded" alt="Cinque Terre" width="100%" height="20%">
        <p> Revisa el amplio listado de alumnos el cual ya an presentado la prueba, conoce cual tiene la mas alta  calificación, en <a href="/#resultados">Esta</a> lista. </p>
     	 </div>
   		 </div>

    	 <hr class="half-rule">
  		 </div>
	</div>

 	<div class="bs-docs-featurette">
  	<div class="container">
    	<h2 class="bs-docs-featurette-title">Built with Bootstrap.</h2>
    	<p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your 	own with our growing collection of examples or by exploring some of our favorites.</p>


    	<hr class="half-rule">

    	<p class="lead">Este proyecto esta 100% respaldado en github,en un repositorio abierto y compartido.</p>
    	<a href="https://github.com/THESLA/Saber_Prototipe" class="btn btn-outline btn-lg">Explore on Github</a>
  	</div>
</div>
</div>