<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{preguntaUno}}</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <input type="radio" name="respuesta" value="A"> Respuesta A<br>
            <input type="radio" name="respuesta" value="B"> Respuesta B<br>
            <input type="radio" name="respuesta" value="C"> Respuesta C<br>
            <input type="radio" name="respuesta" value="D"> Respuesta D<br>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="text-left col-md-6 col-ls-6">
                <button type="button" class="btn btn-warning">Limpiar</button>
                <button type="button" class="btn btn-danger">Avanzar</button>
            </div>
            <div class="text-right col-md-6 col-ls-6"> 
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>