<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{pregunta.tituloPregunta}}</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <div ng-repeat="x in pregunta.respuestas">
                <input type="radio" name="respuesta" value="{{x.idRes}}" >  {{x.res}}<br>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="text-left col-md-6 col-ls-6">
                <button type="button" class="btn btn-warning">Limpiar</button>
                <button type="button" class="btn btn-danger">Avanzar</button>
            </div>
            <div class="text-right col-md-6 col-ls-6"> 
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 col-ls-3">
    <div class="form-group">
        <input type="number" min="0" class="form-control" placeholder="ID pregunta" ng-model="idPregunta">
    </div>
    <button type="button" class="btn btn-success" ng-click="getPregunta()">Traer pregunta</button>
    
</div>