<div>
    <h5 class="breadcrumb">This is resultados</h5>
    <a href="#/home"><small>Ir a el menu principal</small></a>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grado</th>
                <th>ID</th>
                <th>Edad</th>
                <th>Calificasion</th>
                <th>Apresiativa</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Grado</th>
                <th>ID</th>
                <th>Edad</th>
                <th>Calificasion</th>
                <th>Apresiativa</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>5To</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>5To</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>5To</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>5To</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>5To</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>5To</td>
                <td>New York</td>
                <td>61</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>5To</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>5To</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>5To</td>
                <td>San Francisco</td>
                <td>39</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>5To</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>5To</td>
                <td>London</td>
                <td>30</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Quinn Flynn</td>
                <td>5To</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Charde Marshall</td>
                <td>5To</td>
                <td>San Francisco</td>
                <td>36</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Haley Kennedy</td>
                <td>5To</td>
                <td>London</td>
                <td>43</td>
                <td>02</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Tatyana Fitzpatrick</td>
                <td>5To</td>
                <td>London</td>
                <td>19</td>
                <td>00</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Michael Silva</td>
                <td>5To</td>
                <td>London</td>
                <td>66</td>
                <td>07</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Paul Byrd</td>
                <td>5To</td>
                <td>New York</td>
                <td>64</td>
                <td>10</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Gloria Little</td>
                <td>5To</td>
                <td>New York</td>
                <td>59</td>
                <td>09</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Bradley Greer</td>
                <td>5To</td>
                <td>London</td>
                <td>41</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Dai Rios</td>
                <td>5To</td>
                <td>Edinburgh</td>
                <td>35</td>
                <td>02</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Jenette Caldwell</td>
                <td>5To</td>
                <td>New York</td>
                <td>30</td>
                <td>06</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Yuri Berry</td>
                <td>5To</td>
                <td>New York</td>
                <td>40</td>
                <td>01</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Caesar Vance</td>
                <td>5To</td>
                <td>New York</td>
                <td>21</td>
                <td>06</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Doris Wilder</td>
                <td>5To</td>
                <td>Sidney</td>
                <td>23</td>
                <td>08</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Angelica Ramos</td>
                <td>5To</td>
                <td>London</td>
                <td>47</td>
                <td>05</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Gavin Joyce</td>
                <td>5To</td>
                <td>Edinburgh</td>
                <td>42</td>
                <td>07</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
    
</div>